# required for Home Assistant core
requests>=2.0

#(shared) extra dependencies since we use --no-deps for pip
six>=1.9.0 #dependency for websocket-client and transmissionrpc
websocket-client>=0.29.0 #dependency for pushbullet.py
netifaces>=0.10.4 #cross-compiled dependency for zeroconf
VarEvents>=1.0.0 #dependency for PyISY
pyserial>=2.6
configobj
pi
Cheetah 

# optional, needed for specific components

# discovery
zeroconf>=0.16.0

# sun
pyephem>=3.7

# sensor.systemmonitor
psutil>=2.2.1

# OpenWeatherMap Web API
#pyowm>=2.2.0


