
#(shared) extra dependencies since we use --no-deps for pip
pyserial>=2.6
configobj
Cheetah 
pyusb
pillow==2.9.0
# optional, needed for specific components

# sun
pyephem>=3.7

# sensor.systemmonitor
psutil>=2.2.1
