
#(shared) extra dependencies since we use --no-deps for pip
pyserial>=2.6
configobj
Cheetah 
pil
pyusb

# optional, needed for specific components

# sun
pyephem>=3.7

# sensor.systemmonitor
psutil>=2.2.1
